@font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.eot?60737633');
    src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'), url('../font/symbols-sedona.woff?60737633') format('woff'), url('../font/symbols-sedona.ttf?60737633') format('truetype'), url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "symbols-sedona";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before {
    content: '\66';
    padding: 10px;
    font-size: 19px;
    text-decoration: none;
    color: white;
}

.icon-twitter:before {
    content: '\74';
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.icon-youtube:before {
    content: '\f39e';
    padding: 10px;
    font-size: 21px;
    text-decoration: none;
    color: white;
}

.icon-up-dir:before {
    content: '\25b2';
    color: #ccc;
    font-size: 20px;
    padding-right: 66px;
}

.icon-down-dir:before {
    content: '\25bc';
    font-size: 20px;
    width: 9px;
    height: 9px;
}

.icon-star:before {
    content: '\2605';
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #81b3d2;
}

.icon-check-off:before {
    content: '\2610';
    font-size: 20px;
}

.icon-check-on:before {
    content: '\2611';
    font-size: 20px;
}

.check-on {
    position: relative;
    top: 27px;
    left: 2px;
}

.check-off {
    position: relative;
    top: 27px;
    left: 2px;
}

.icon-calendar:before {
    content: '\e800';
    font-size: 20px;
}

.date-arrival {
    position: relative;
    top: 0px;
    left: -33px;
}

.date-depart {
    position: relative;
    top: 0px;
    left: -33px;
}

.icon-plus:before {
    content: '\e801';
}

.icon-minus:before {
    content: '\e802';
}

.minus {
    position: relative;
    top: 12px;
    left: -100px;
}

.plus {
    position: relative;
    top: 12px;
    left: -55px;
}

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: #696969;
    background-color: #f2f2f2;
}

body .layout-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: -2px 1px 15px 1px rgba(0, 0, 0, 0.2);
}

header {
    width: auto;
    background-color: white;
}

div {
    display: block;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000;
}

h2 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

h3 {
    padding-top: 50px;
    margin-top: 40px;
    font-size: 21px;
    font-weight: 700;
    font-family: "PT Sans", Arial, sans-serif;
    line-height: 21px;
    color: #000;
}

h4 {
    margin-top: -5px;
    margin-bottom: 0px;
    padding-left: 2px;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #fff;
}

.features-promo p {
    margin: 0 auto;
    padding-bottom: 53px;
    color: #696969;
}

.features-promo h3 {
    padding-top: 59px;
    padding-bottom: 30px;
    margin: 0 auto;
    line-height: 26px;
}

.item4 h3 {
    margin-top: -2px;
}

.features p {
    margin: 10px;
    color: #858585;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

.main-navigation li {
    display: inline-block;
    min-height: 54px;
    width: 240px;
    font-size: 14px;
    list-style: none;
    text-align: center;
    vertical-align: bottom;
}

.minilogo {
    position: absolute;
    left: 50%;
    margin-left: -72px;
}

.main-navigation a {
    font-weight: 700;
    line-height: 57px;
    list-style: none;
    text-decoration: none;
    color: #111;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.dir {
    float: right;
    padding-top: 0px;
    margin-top: -8px;
    outline: 1px solid;
}

.dir a:hover {
    color: #81b3d2
}

.nav-left {
    float: left;
    list-style: none;
}

.nav-right {
    float: right;
    list-style: none;
}

.nav-right li {
    padding-left: 5px;
}

.main-img {
    width: 1200px;
    min-height: 510px;
    background-image: url('../img/bg_mainphoto.jpg');
    background-repeat: no-repeat;
    background-position: 0 20%;
}

.welcome {
    min-height: 459px;
    background-image: url('../img/Welcome_text.png');
    background-repeat: no-repeat;
    background-position: 50% 79px;
}

.mask {
    position: relative;
    margin-bottom: -16px;
    top: -13px;
}

.features-promo {
    padding-left: 320px;
    padding-right: 320px;
    text-align: center;
    background-color: white;
}


/*--blue block 1,3--*/

.item1,
.item3 {
    height: 256px;
    padding: 0;
    margin: 0;
    color: white;
    background-color: #81b3d2;
}

.item1 .features-item {
    display: block;
    float: left;
    width: 33%;
    height: inherit;
    margin-right: 0;
    text-align: center;
    color: white;
}

.item3 .features-item {
    display: block;
    float: right;
    width: 33%;
    height: inherit;
    margin-right: 0;
    text-align: center;
    color: white;
}

.item1 .photo {
    float: right;
    width: 66%;
    height: 256px;
    background-image: url('../img/bg_photo1.jpg');
    background-position: right;
    background-repeat: no-repeat;
}

.item3 .photo {
    float: left;
    width: 66%;
    height: 256px;
    background-image: url('../img/bg_photo2.jpg');
    background-position: left;
    background-repeat: no-repeat;
}

.text h2 {
    padding-top: 32px;
    padding-left: 90px;
    padding-right: 90px;
}

.text p {
    margin: 0;
    padding: 0;
    padding-left: 42px;
    padding-right: 42px;
    line-height: 21px;
}

.text .number {
    margin-bottom: 25px;
    margin-top: 16px;
}


/*-- block 2,4--*/

.item2 {
    min-height: 330px;
    font-size: 0px;
    background-color: white;
}

.features {
    display: block;
    float: left;
    width: 30%;
    margin-right: 40px;
    margin-bottom: 50px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    color: #000;
}

.features:last-child {
    margin-right: 0;
}

.features:first-child {
    margin-left: 18px;
}

.item4 {
    min-height: 255px;
    background-color: #eee;
}

.features-promo2 {
    text-align: center;
    line-height: 24px;
    background-color: white;
}

.features-promo2 p {
    padding-left: 350px;
    padding-right: 350px;
}

.features-promo2 h1 {
    padding-top: 35px;
    padding-bottom: 16px;
}

.map {
    min-height: 470px;
    background-image: url('../img/map.jpg')
}

.form-content {
    width: 565px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    min-height: 395px;
    background-color: white;
}

.label-appointment-form {
    display: block;
    float: left;
    height: 38px;
    width: 95px;
    line-height: 38px;
    font-weight: 700;
    line-height: 26px;
    font-size: 14px;
    vertical-align: middle;
    color: black;
}

.appointment-form {
    padding-top: 59px;
    padding-bottom: 55px;
    padding-left: 56px;
}

input[type="date"] {
    box-sizing: border-box;
    width: 345px;
    min-height: 35px;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-left: 16px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: black;
    border: 0;
}

.choice {
    display: block;
    float: left;
}

.people {
    display: block;
    float: left;
    width: 112px;
    height: 38px;
    text-align: center;
    border: none;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    font-family: "PT Sans", Arial, sans-serif;
    color: black;
}

.adult {
    display: inline-block;
    margin-right: 16px;
    margin-top: 5px;
    float: left;
    text-align: left;
    vertical-align: middle;
}

.child {
    width: 70px;
    margin-right: -5px;
    margin-top: 5px;
    padding-left: 9px;
}

.input [type="text"] {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}


/*---second page--*/

.form-container {
    width: 1200px;
    min-height: 215px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-image: url('../img/bg_photo_filter.jpg');
    background-repeat: no-repeat;
    background-position: 50% -55px;
}


/*--second form--*/

.form-container .form1,
.form-container .form2 {
    float: left;
}

.form1 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 53px;
    position: relative;
}

.form2 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 27px;
    margin-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 75px;
    padding-right: 40px;
}

.form1 label,
.form2 label {
    display: block;
    padding-right: 40px;
    position: relative;
    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 42px;
    margin-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    cursor: pointer;
}

.form1 input,
.form2 input {
    display: none;
}

.form3 {
    display: block;
    float: right;
    width: 352px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: -5px;
    padding-right: 36px;
}

.range {
    display: block;
    width: 315px;
    margin-top: 13px;
    margin-bottom: 0px;
    margin-left: 13px;
    min-height: 20px;
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 9px;
    padding-left: 0;
    border: 2px solid white;
    border-radius: 2px;
}

.price {
    display: block;
    float: left;
    width: auto;
    padding-top: 5px;
    padding-left: 64px;
    font-size: 14px;
    text-align: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: white;
    border-radius: 2px;
}

.price:last-child {
    border: none;
}

.price input {
    width: 50px;
    font-size: 14px;
    font-weight: 400;
    font-family: "PT Sans", Arial, sans-serif;
    color: white;
    background: none;
    border: 0;
}

.field {
    display: block;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: normal;
    padding-left: 37px;
}

.scale {
    display: block;
    width: 89%;
    height: 2px;
    margin-top: 30px;
    margin-left: 20px;
    background: #fff;
}

.circle {
    display: block;
    width: 4px;
    height: 4px;
    margin: -9px 0 0;
    background: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
}

.maxcircle {
    position: relative;
    top: -20px;
    left: 244px;
    cursor: pointer;
}

.mincircle {
    position: relative;
    top: -8px;
    left: -7px;
    cursor: pointer;
}

.sorting {
    padding-left: 70px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.sorting a {
    text-decoration: none;
}

.sorting ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting li {
    display: inline-block;
    margin-bottom: 33px;
    margin-top: 33px;
    margin-right: 32px;
    text-align: center;
    font-size: 12px;
}

.sorting h3 {
    margin: 0 auto;
    padding: 0;
    padding-right: 17px;
}

.sorting .sort {
    padding-right: 15px;
    font-weight: 400;
    line-height: 18px;
    color: black;
}

.sorting .active {
    color: #81b3d2;
}

.sorting .point {
    color: #b1b1b1;
    border-bottom: 1px dotted;
    border-bottom-color: #81b3d2;
}

.btn-result {
    display: block;
    width: 135px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 99px;
    padding: 9px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 2px;
    background: none;
}

.result-search {
    background-color: #fff;
    padding-top: 20px;
}

.result {
    display: block;
    margin-bottom: 18px;
    border-bottom: 1px solid #e5e5e5;
}

.result:last-child {
    margin-bottom: 0px;
}

.column1 {
    float: left;
    margin-right: 30px;
    margin-left: 73px;
    margin-top: 5px;
    margin-bottom: 30px;
    vertical-align: top;
    outline: 1px solid;
}

.column2 {
    float: left;
    width: 33%;
    margin-top: 8px;
    vertical-align: top;
    outline: 1px solid;
}

.column3 {
    float: right;
    width: 13%;
    margin-top: -8px;
    margin-right: 12px;
    vertical-align: top;
    outline: 1px solid;
}

.column2 h3 {
    margin: -3px auto;
    padding: 0;
}

.detail {
    display: block;
    float: left;
    margin-right: 7px;
}

.booking {
    display: block;
    float: left;
}

.rate {
    display: block;
    margin-top: 80px;
    margin-left: -14px;
    outline: 1px solid;
}

.block {
    width: 565px;
    min-height: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #766357;
}

.block h3 {
    color: white;
    padding-top: 30px;
    padding-left: 110px;
    padding-right: 110px;
}

.btn {
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: #81b3d2;
}

.btn-search {
    width: 456px;
    margin-top: 50px;
    min-height: 60px;
    font-size: 21px;
    font-weight: 700;
    font-family: "PT Sans", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: none;
}

.btn-book {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
    padding-top: 4px;
    color: white;
    background-color: #766357;
}

.btn-rate {
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
    padding-top: 4px;
    color: #6f6f6f;
    border-radius: 2px;
    outline: 1px solid;
}

.stars {
    float: right;
    margin-top: 10px;
    margin-right: 60px;
    outline: 1px solid;
}

.btn-detail {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 4px;
    padding-top: 4px;
    color: white;
    background-color: #81b3d2;
}

.booking a,
.detail a,
.column3 a {
    text-decoration: none;
}

.main-footer {
    background-color: white;
}

.opacity {
    background-color: rgba(255, 255, 255, 0.8);
}

.footer-hashtag {
    float: left;
    width: 33%;
    text-align: center;
    line-height: 50px;
}

.footer-social {
    float: left;
    width: 33%;
    margin-top: 40px;
    text-align: center;
    vertical-align: center;
}

.footer-copyright {
    float: right;
    width: 33%;
    margin-top: 37px;
    text-align: center;
    line-height: 50px;
}

.social-btn {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: -5px;
    margin-left: 7px;
    background-color: #81b3d2;
}

.by {
    display: inline-block;
    margin-left: -122px;
}

.logohtml {
    display: block;
    position: relative;
    top: -45px;
    left: 40px;
}

.hashtag {
    display: inline-block;
    margin-top: 0px;
}

.sprite {
    display: block;
    background-image: url('../img/sprite/sprite.png');
    background-repeat: no-repeat;
    background-position: center;
}

.sprite-food {
    width: 74px;
    height: 70px;
    position: relative;
    top: 60px;
    left: 140px;
    background-position: -5px -5px;
}

.sprite-home {
    width: 75px;
    height: 72px;
    position: relative;
    top: 60px;
    left: 140px;
    background-position: -89px -5px;
}

.sprite-souv {
    width: 64px;
    height: 76px;
    position: relative;
    top: 60px;
    left: 145px;
    background-position: -174px -5px;
}