body {
    font-size: 14px;
    font-weight: 400;
    font-family: "PT Sans Regular", Arial, sans-serif;
    color: #696969;
    background-color: #fff;
    line-height: 1.2em;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #000;
}

h2 {
    font-size: 21px;
    font-weight: 700;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #fff;
}

.features-item p {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
}

h3 {
    font-size: 21px;
    font-weight: 700;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #000;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #fff;
}

.features-promo p {
    color: #696969;
}

.features p {
    color: #858585;
}


/*---почему не меняется на чёрный?--*/

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

li {
    float: left;
    margin-right: 140px;
}

.minilogo {
    background-image: url('../img/top_logo.png')
}

.main-navigation a {
    display: block;
}

.main-img {
    width: 1200px;
    min-height: 510px;
    background-image: url('../img/bg_mainphoto.jpg');
}

.welcome {
    width: 1200px;
    min-height: 409px;
    background-image: url('../img/Welcome_text.png');
    background-repeat: no-repeat;
    background-position: 370px 55px;
}

.features-promo {
    min-height: 200px;
    text-align: center;
}


/*--blue block 1,3--*/

.item1 {
    width: 1200px;
    min-height: 250px;
    background-image: url('../img/bg_photo1.jpg');
    background-position: right;
}

.features-item {
    width: 400px;
    background-color: #81b3d2;
    float: left;
    min-height: 250px;
    text-align: center;
    color: white;
}

.item3 {
    width: 1200px;
    min-height: 250px;
    background-image: url('../img/bg_photo2.jpg');
    background-position: left;
}

.features-item3 {
    width: 400px;
    background-color: #81b3d2;
    float: right;
    min-height: 250px;
    text-align: center;
    color: white;
}


/*-- block 2,4--*/

.item2 {
    width: 1200px;
    min-height: 325px;
    background-color: white;
}

.features {
    float: left;
    width: 300px;
    min-height: 325px;
    text-align: center;
    color: #000;
    padding-right: 50px;
    padding-left: 50px;
    display: inline-block;
}

.item4 {
    width: 1200px;
    min-height: 250px;
}

.features-promo2 {
    min-height: 200px;
    text-align: center;
}

.map {
    width: 1200px;
    min-height: 470px;
    background-image: url('../img/map.jpg')
}

.form-content {
    position: absolute;
    width: 565px;
    height: 480px;
    z-index: 100;
}


/*--z-index?--*/


/*---second page--*/

.appointment-form {
    width: auto;
    min-height: 215px;
    background-image: url('../img/bg_photo_filter.jpg')
}

.column1 {
    float: left;
    width: 130px;
    margin-right: 30px;
    margin-left: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
    vertical-align: top;
}

.column2 {
    float: left;
    width: 260px;
    margin-bottom: 30px;
    margin-top: 10px;
    vertical-align: top;
}

.column3 {
    float: right;
    width: 240px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 70px;
    vertical-align: top;
}


}
.main-footer {
    width: 1200px;
}
.footer-hashtag {
    width: 135px;
    float: left;
    margin-left: 100px;
}
.footer-social {
    width: 135px;
    float: left;
    margin-right: 170px;
}
.footer-copyright {
    width: 200px;
    float: right;
}