body {
    font-size: 14px;
    font-weight: 400;
    font-family: "PT Sans Regular", Arial, sans-serif;
    color: #696969;
    background-color: #fff;
    line-height: 1.2em;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #000;
}

h2 {
    font-size: 21px;
    font-weight: 700;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #fff;
}

.features-item p {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
}

h3 {
    font-size: 21px;
    font-weight: 700;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #000;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #fff;
}

.features-promo p {
    color: #696969;
}

.features p {
    color: #858585;
}

.label {
    font-size: 14px;
    color: #000;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.nav1 li {
    float: left;
    list-style: none;
    width: 20%;
    text-align: center;
    padding-top: 20px;
}

.nav2 li {
    float: right;
    /*-нарушена очередность-*/
    list-style: none;
    width: 20%;
    text-align: center;
    padding-top: 20px;
}

.minilogo {
    list-style-type: none;
    min-height: 70px;
    background-image: url('../img/top_logo.png');
    background-repeat: no-repeat;
    background-position: 30% 105%;
}

.main-navigation a {
    display: block;
    list-style: none;
}

.main-img {
    width: 1200px;
    min-height: 510px;
    background-image: url('../img/bg_mainphoto.jpg');
    background-repeat: no-repeat;
    background-position: 0 20%;
}

.welcome {
    min-height: 409px;
    background-image: url('../img/Welcome_text.png');
    background-repeat: no-repeat;
    background-position: 50% 140%;
}

.features-promo {
    min-height: 90px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}


/*--blue block 1,3--*/

.item1 {
    min-height: 250px;
    background-image: url('../img/bg_photo1.jpg');
    background-position: right;
    background-repeat: no-repeat;
}

.features-item {
    background-color: #81b3d2;
    float: left;
    min-height: 250px;
    text-align: center;
    color: white;
    width: 35%
}

.item3 {
    min-height: 250px;
    background-image: url('../img/bg_photo2.jpg');
    background-position: left;
    background-repeat: no-repeat;
}

.features-item3 {
    width: 400px;
    background-color: #81b3d2;
    float: right;
    min-height: 250px;
    text-align: center;
    color: white;
}


/*-- block 2,4--*/

.item2 {
    min-height: 325px;
    background-color: white;
}

.features {
    float: left;
    width: 300px;
    text-align: center;
    color: #000;
    padding-right: 50px;
    padding-left: 50px;
    display: inline-block;
}

.item4 {
    min-height: 250px;
}

.features-promo2 {
    min-height: 200px;
    text-align: center;
}

.map {
    min-height: 470px;
    background-image: url('../img/map.jpg')
}

.form-content {
    width: 565px;
    margin-left: auto;
    margin-right: auto;
    min-height: 395px;
    background-color: white;
}


/*---second page--*/

.form-container {
    width: auto;
    min-height: 215px;
    background-image: url('../img/bg_photo_filter.jpg')
}

.column1 {
    float: left;
    width: 130px;
    margin-right: 30px;
    margin-left: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
    vertical-align: top;
}

.column2 {
    float: left;
    width: 260px;
    margin-bottom: 30px;
    margin-top: 10px;
    vertical-align: top;
}


/*--как опустить "рейтинг" вниз?-*/

.column3 {
    float: right;
    width: 240px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 70px;
    vertical-align: top;
}

.block {
    width: 565px;
    min-height: 85px;
    background-color: #766357;
    margin-left: auto;
    margin-right: auto;
    /*--как опустить?*/
}

.block h3 {
    color: white;
    padding-top: 30px;
    padding-left: 110px;
    padding-right: 110px;
}

.btn {
    background-color: #81b3d2;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
}

.btn-book {
    background-color: #766357;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
}

.btn-rate {
    background-color: #f2f2f2;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: #6f6f6f;
}

.main-footer {
    width: 1200px;
}

.footer-hashtag {
    width: 240px;
    float: left;
    margin-left: 70px;
    margin-right: 85px;
}

.footer-social {
    width: 400px;
    float: left;
    margin-right: 85px;
}

.footer-copyright {
    width: 240px;
    float: right;
    margin-right: 70px;
}

.sprite {
    background-image: url('../img/sprite/sprite.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-check {
    width: 26px;
    height: 22px;
    background-position: -36px -5px;
}

.sprite-fb_png {
    width: 10px;
    height: 19px;
    background-position: -72px -5px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -92px -5px;
}

.icon {
    position: relative;
    top: 60px;
    left: 110px;
    display: block;
    padding-bottom: 70px;
}

.sprite-home {
    width: 75px;
    height: 72px;
    background-position: -5px -85px;
}

.sprite-logo_html {
    width: 113px;
    height: 39px;
    background-position: -176px -5px;
}

.sprite-souv {
    width: 64px;
    height: 76px;
    background-position: -176px -54px;
}

.sprite-tube_btn {
    width: 20px;
    height: 16px;
    background-position: -5px -54px;
}

.sprite-twi_btn {
    width: 17px;
    height: 15px;
    background-position: -35px -54px;
}